<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="title-tag mb-3 error-text">Some error occured.</h1>
    <h1 class="title-tag mb-3 error-text">Go back admin click <a href="/admin/portfolio">here</a></h1>
</div>


