<!-- <% layout('layouts/boilerplate') %> 
<div class="row">
    <form action="">
        <label class="form-label" for="collectionName">Name</label>
        <input class="form-control" type="text" name="collectionSchema[collectionName]">
    </form>
</div> -->

<h1>Create Collection</h1>
<form action="/admin/create-collection" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
    <label class="form-label" for="collectionName">Collection Name</label>
    <input class="form-control" type="text" name="collectionName" value="<%=input?input.collectionName : ''%>">
    <label class="form-label" for="description">Description</label>
    <textarea class="form-control" type="text" name="description" id="description" cols="30" rows="10"><%=input?input.description : ''%></textarea>
    <!-- <div class="file-upload-wrapper"> -->
        <!-- <input type="file" id="input-file-now" class="file-upload" name="image" multiple> -->
    <!-- </div> -->
    <div class="input-group mb-3">
        <input type="file" class="form-control" name="image" id="image" multiple>
    </div>
    <div class="mb-3">
        <button class="btn btn-success">Submit</button>
    </div>
</form>

