<!-- <% layout('layouts/boilerplate') %> 
<div class="row">
    <form action="">
        <label class="form-label" for="collectionName">Name</label>
        <input class="form-control" type="text" name="collectionSchema[collectionName]">
    </form>
</div> -->

<h1>Create Collection</h1>
<div class="file-upload-wrapper" multiple>
    <input type="file" id="input-file-now" class="file-upload" />
</div>