<!-- <div class="container" id="navbar-position"> -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="/admin/about" class="navbar-tag <%= activeLocation == '/admin/about' ? 'current-page' : '' %>">CV</a></li>
            <li><a href="/admin/portfolio" class="navbar-tag <%= (activeLocation != '/admin/about' && activeLocation != '/admin/contact') ? 'current-page' : '' %>">Work</a></li>
            <li><a href="/admin/contact" class="navbar-tag <%= activeLocation == '/admin/contact' ? 'current-page' : ''%>">Contact</a></li>
        </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>