<% layout('layouts/boilerplate') %> 
<h3 class="title-tag">Education</h3>
<ul class="cv-content">
    <li>2016 &nbsp&nbsp&nbsp&nbsp BA Visual Art(studio), University of California, San Diego</li>
    <li>2014 &nbsp&nbsp&nbsp&nbsp AA Arts Studies, San Diego Mesa College</li>
</ul>
        

<h3 class="title-tag">Selected Exhibitions</h3>
<ul class="cv-content">
    <li>2016</li>
    <li>Into the Wild, Experimental Drawing Studio, curated by Amy Adler, UCSD, San Diego, CA</li>
    <li>Honors Open Studio, UCSD, San Diego, CA (catalogue)</li>
    <li>Meeting at Square One, University Art Gallery, San Diego, CA (catalogue)</li>
    <li>Hireath, Adam D. Kamil Gallery, San Diego, CA</li>
</ul>

<ul class="cv-content">
    <li>2013</li>
    <li>Student Exhibition, San Diego Mesa College Art Gallery, CA (catalogue)</li>
    <li>The Art of Imagination, San Diego Mesa College Art Gallery, CA (catalogue)</li>
</ul>

<ul class="cv-content">
    <li>2012</li>
    <li>Express Yourself, San Diego Mesa College Art Gallery, CA (catalogue)</li>
</ul>

<ul class="cv-content">
    <li>2011</li>
    <li>Experiment, San Diego Mesa College Art Gallery, CA (catalogue)</li>
    <li>Raw and Exposed, San Diego Mesa College Art Gallery, CA (catalogue)</li>
</ul>

<h3 class="title-tag">Award</h3>
<ul class="cv-content">2015 &nbsp&nbsp&nbsp&nbsp UCSD Studio Honors Program</ul>

<h3 class="title-tag">Publication</h3>
<ul class="cv-content">2019 &nbsp&nbsp&nbsp&nbsp Beasley, Douglas, <a class="cv-content" target="_blank" href="https://shotsmag.com/collections/back-issues/products/no-142-winter-2019"><u>“Silence”</u></a>, <i id="cv-italic">SHOTS</i>, Issue 142, p 1. Print.</ul>

<h3 class="title-tag">Related Experience</h3>
<ul class="cv-content"> 
    <li>Scenes from an Execution, Scenic Designer</li>
    <li>September 2016 &#8208 December 2016, San Diego, CA</li>
</ul>

<ul class="cv-content">
    <li>Sin Eater + Other People, Scenic Designer Assistant</li>
    <li>April 2016 &#8208 June 2016, San Diego, CA</li>
</ul>