<% layout('layouts/boilerplate') %> 
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="thumbnail">
            <a data-fancybox="gallery" href="./images/Humming-Sang/onmyway/1-lg.jpg" title="Click To Enlarge"><img src="./images/Humming-Sang/onmyway/1-sm.jpg">
            <div class="overlay-pic">
            </div>
            </a>
        </div>
    </div>
</div>

<div>
    <a href="/" class="outertext">
    <i class="fas fa-angle-left nav-arrow" aria-hidden="true">
        <span class="hovertext">
        Previous
        </span>
    </i>
    </a>
</div>
