<% layout('layouts/boilerplate') %> 
<div class="contact-icons">  
<span class="contact-icon-span">
    <a href="http://www.instagram.com/hummingsang/" style="text-decoration:none" target="_blank">
    <i class="fab fa-instagram fa-fw contact-icons-sizes" id="instagram"></i>
    </a>
</span>
<span id="mobile-space"></span>
<span class="contact-icon-span">
    <a href="mailto: sanghumming@gmail.com">
    <i class="far fa-envelope fa-fw contact-icons-sizes" id="email"></i>
    </a>
</span> 
</div>