<% layout('layouts/boilerplate') %> 

<!-- Hover with text and link example -->
<% for(let i = 0; i < collections.length; i++) { %>
    <% const collection = collections[i]; %>
    <% const col = 2; %>
    <% if(i % col === 0) {%>
        <div class="row">
    <% } %>
    <div class="col col-md-6 p-3">
        <img src="<%= collection.cover.thumbnailUrl%>" class="img-thumbnail p-0">
        <div class="overlay">
            <p class="overlay-text"><%=collection.collectionName %> </p>
        </div>
    </div>
    <% if(i % col == col - 1) {%>
    </div>
    <% } %>
<% } %> 