<% layout('layouts/boilerplate') %> 

<!-- Hover with text and link example -->
<div class="row">

<% for(let collection of collections) { %>
    <div class="col col-12 col-md-6 p-3">
        <a href="/<%= collection.collectionName%> " title="Click To View Series">
            <img src="<%= collection.cover.thumbnailUrl%>" class="img-thumbnail p-0">
            <div class="overlay">
                <p class="overlay-text"><%=collection.collectionName%> <br> <i class="fa-solid fa-grip"></i></p> 
            </div>
        </a>
    </div>
<% } %> 
</div>