<% layout('layouts/boilerplate') %> 

<!-- Hover with text and link example -->
<div class="row">

<% for(let collection of collections) { %>
    <div class="col-md-6">
        <div class="thumbnail"> 
            <img src="<%= collection.cover.thumbnailUrl%>">
            <div class="overlay">
                <a href="/<%= collection.collectionName%> " class="work-link"  title="Click To View Series">
                    <div class="text">
                        <p class=<%= collection.cover.isHorizontal ? "work-link" : "work-link-verti" %>><%=collection.collectionName%><br/>
                            <i class="glyphicon glyphicon-th"></i>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
<% } %> 
</div>