<% layout('layouts/boilerplate') %> 

<div class="row">
<!-- Hover with text and link example -->

    <div class="col-md-6">
    <div class="thumbnail"> 
        <img src="./images/Humming-Sang/Cover Images/On My Way.jpg">
        <div class="overlay">
        <a href="onmyway.html" class="work-link" title="Click To View Series">
            <div class="text">
            <p class="work-link">On My Way<br/>
                <i class="glyphicon glyphicon-th"></i>
            </p>
            </div>
        </a>
        </div>
    </div>
    </div>

    <div class="col-md-6">
    <div class="thumbnail"> 
        <img src="./images/Humming-Sang/Cover Images/Quiet time.jpg">
        <div class="overlay">
        <a href="quiettime.html" class="work-link" title="Click To View Series">
            <div class="text">
            <p class="work-link">Quiet Time<br/>
                <i class="glyphicon glyphicon-th"></i>
            </p>
            </div>
        </a>
        </div>
    </div>
    </div>

    <div class="col-md-6">
    <div class="thumbnail"> 
        <img src="./images/Humming-Sang/Cover Images/Tranquility.jpg">
        <div class="overlay">
        <a href="tranquility.html" class="work-link" title="Click To View Series">
            <div class="text">
            <p class="work-link">Tranquility<br/>
                <i class="glyphicon glyphicon-th"></i>
            </p>
            </div>
        </a>
        </div>
    </div>
    </div>

    <div class="col-md-6">
    <div class="thumbnail"> 
        <img src="./images/Humming-Sang/Cover Images/Hidden.jpg">
        <div class="overlay">
        <a href="hidden.html" class="work-link" title="Click To View Series">
            <div class="text">
            <p class="work-link">Hidden<br/>
                <i class="glyphicon glyphicon-th"></i>
            </p>
            </div>
        </a>
        </div>
    </div>
    </div>

    <div class="col-md-6">
    <div class="thumbnail"> 
        <img src="./images/Humming-Sang/Cover Images/Black and White.jpg">
        <div class="overlay">
        <a href="silence.html" class="work-link" title="Click To View Series">
            <div class="text">
            <p class="work-link-verti">Silence<br/>
                <i class="glyphicon glyphicon-th"></i>
            </p>
            </div>
        </a>
        </div>
    </div>
    </div>

    <div class="col-md-6">
    <div class="thumbnail"> 
        <img src="./images/Humming-Sang/Cover Images/Heavy.jpg">
        <div class="overlay">
        <a href="heavy.html" class="work-link" title="Click To View Series">
            <div class="text">
            <p class="work-link">Heavy<br/>
                <i class="glyphicon glyphicon-th"></i>
            </p>
            </div>
        </a>
        </div>
    </div>
    </div>

    <div class="col-md-6">
    <div class="thumbnail"> 
        <img src="./images/Humming-Sang/Cover Images/Corner.jpg">
        <div class="overlay">
        <a href="corner.html" class="work-link" title="Click To View Series">
            <div class="text">
            <p class="work-link">Corner<br/>
                <i class="glyphicon glyphicon-th"></i>
            </p>
            </div>
        </a>
        </div>
    </div>
    </div>

    <!-- click and enlarge example -->
    <div class="col-md-6">
    <div class="thumbnail"> 
        <img src="./images/Humming-Sang/Cover Images/Rest.jpg">
        <div class="overlay">
        <a href="rest.html" class="work-link" title="Click To View Series">
            <div class="text">
            <p class="work-link">Rest<br/>
                <i class="glyphicon glyphicon-th"></i>
            </p>
            </div>
        </a>
        </div>
    </div>
    </div>

    <div class="col-md-6">
    <div class="thumbnail"> 
        <img src="./images/Humming-Sang/Cover Images/Photography.jpg">
        <div class="overlay">
        <a href="photography.html" class="work-link" title="Click To View Series">
            <div class="text">
            <p class="work-link">Photography<br/>
                <i class="glyphicon glyphicon-th"></i>
            </p>
            </div>
        </a>
        </div>
    </div>
    </div>

    <div class="col-md-6">
    <div class="thumbnail"> 
        <img src="./images/Humming-Sang/Cover Images/Live-Journal.jpg">
        <div class="overlay">
        <a href="live-journal.html" class="work-link" title="Click To View Series">
            <div class="text">
            <p class="work-link-verti">Ongoing Since 2008<br/>
                <i class="glyphicon glyphicon-th"></i>
            </p>
            </div>
        </a>
        </div>
    </div>
    </div>

    <div class="col-md-6">
    <div class="thumbnail"> 
        <img src="./images/Humming-Sang/Cover Images/Set Design.jpg">
        <div class="overlay">
        <a href="set-design.html" class="work-link" title="Click To View Series">
            <div class="text">
            <p class="work-link">Set Design<br/>
                <i class="glyphicon glyphicon-th"></i>
            </p>
            </div>
        </a>
        </div>
    </div>
    </div>

</div>